{% extends 'TaskBlogBundle::base.html.twig' %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block menu_items %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{ app.user.firstname }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ 'http://' ~ app.request.host ~ '/admin/dashboard'}}">Dashboard</a></li>
            </ul>
        </li>
    {% endblock %}
{% endif %}

{% block body %}
    <div class="row">
        {% for post in posts %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ asset('uploads/' ~ post.slug ~ '/thumb.png') }}" alt="...">
                    <div class="caption">
                        <a href="{{ 'http://' ~ app.request.host ~ '/post/' ~ post.id }}"><h3>{{ post.title }}</h3></a>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}